.tabs {
  &__links {
    display: flex;
    gap: 5px;
  }

  &__tab {
    padding: 8px 12px;
    color: #aaa;
    cursor: pointer;
    transition: color 300ms;

    &:hover {
      color: #555;
    }

    &--selected {
      border: 1px solid #eee;
      border-radius: 5px 5px 0 0;
      border-bottom: transparent;
      background-color: #fff;
      color: #555;
    }
  }

  &__content {
    border: 1px solid #eee;
    border-top: transparent;
    box-shadow: 0px 6px 12px 0px #ddd;
    border-radius: 0 0 5px 5px;
    padding: 10px;
  }
}